body {
  font-family: "Open Sans", sans-serif;
}

/* button - WINONA */
.btn-winona1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #262a34;
  text-decoration: none !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-winona1:hover {
  background-color: #434857;
}

.btn-winona2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #41e0d8;
  text-decoration: none !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-winona2:hover {
  background-color: #434857;
}

.btn-winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  text-decoration: none;
}

.btn-winona > span {
  display: block;
}

.btn-winona::after,
.btn-winona > span {
  color: #fafafa;
  padding: 12px 25px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  font-size: 16px;
}

.btn-winona:hover > span {
  opacity: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.btn-winona:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #fff;
}

.btn-subs {
  display: inline-block;
  position: relative;
  background: transparent;
  text-decoration: none !important;
}

.btn-subs span {
  padding: 10px 30px;
  color: #fff;
}

.btn-subs:hover span {
  color: #434857;
}

#header {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 900px;
}

/*
#header::before {
    position: absolute;
    content: " ";
    width: 464px;
    height: 900px;
    top: 217px;
    left: calc(50% - 38px);
    transform: translateX(0) translateY(0) rotate(45deg);
    background: #fff;
    transform-origin: left top;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fafafa;
    background: #fafafa;
    z-index: 1;
}*/
#header::after {
  position: absolute;
  content: " ";
  top: 217px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  background: #41e0d8;
  width: 1600px;
  height: 1600px;
  left: 50%;
  -webkit-transform: translateX(0) translateY(-40%) rotate(21deg);
          transform: translateX(0) translateY(-40%) rotate(21deg);
  border: 1px solid #41e0d8;
  z-index: 1;
}

.navbar {
  z-index: 2;
  padding-bottom: 270px;
}

.header-content .header-img {
  z-index: 2;
}

.header-content .header-img img {
  max-width: 300px;
}

.header-content .header-info {
  padding: 0 20px 0 20px;
  z-index: 2;
}

.header-content .header-info h2 {
  padding-bottom: 85px;
  font-weight: bold;
  font-size: 43px;
  line-height: 65px;
}

.header-content .header-info h2 .w-color {
  font-style: italic;
  font-weight: normal;
  color: #fff;
}

.header-content .header-info p {
  padding-bottom: 85px;
  font-size: 15px;
  color: #fff;
  line-height: 33px;
}

.test {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#main {
  background: #262a34;
  height: 860px;
  z-index: 3;
}

#main .contLeft {
  color: #fff;
}

#main .contLeft h2 {
  font-size: 43px;
}

#main .contLeft p {
  font-size: 15px;
}

#main .slider .box {
  width: 230px;
  height: 404px;
  background: #3f4551;
}

#main .slider .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .slider .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .slider .owl-dots .owl-dot.active {
  background: #fff;
  border-radius: 50%;
}

#main .slider .owl-dots .owl-dot {
  display: inline-block;
}

#main .slider .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #fff;
  display: block;
  border-radius: 50%;
}

#main .slider .owl-dots .owl-dot span:active {
  background: #fff;
}

#main .slider .owl-dots .owl-dot:hover {
  background: #fff;
  border-radius: 50%;
}

#main .slider .owl-dots button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

#main .slider .owl-dots .owl-dot:focus {
  outline: 0;
}

@media (max-width: 992px) {
  #header .navbar {
    padding-bottom: 20px;
  }
  #header .header-content {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #header .header-content .header-img img {
    max-width: 250px;
  }
  #header .header-content .header-info {
    text-align: center;
    padding-bottom: 20px;
  }
  #header .header-content .header-info h2,
  #header .header-content .header-info p {
    padding-bottom: 20px;
  }
  #main .contLeft {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */