body {
  font-family: "Open Sans", sans-serif;
}

/* button - WINONA */
.btn-winona1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #262a34;
  text-decoration: none !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-winona1:hover {
  background-color: #434857;
}

.btn-winona2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #41e0d8;
  text-decoration: none !important;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-winona2:hover {
  background-color: #434857;
}

.btn-winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  text-decoration: none;
}

.btn-winona > span {
  display: block;
}

.btn-winona::after,
.btn-winona > span {
  color: #fafafa;
  padding: 12px 25px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  font-size: 16px;
}

.btn-winona:hover > span {
  opacity: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.btn-winona:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: #fff;
}

.btn-subs {
  display: inline-block;
  position: relative;
  background: transparent;
  text-decoration: none !important;
}

.btn-subs span {
  padding: 10px 30px;
  color: #fff;
}

.btn-subs:hover span {
  color: #434857;
}

#header {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 900px;
}

/*
#header::before {
    position: absolute;
    content: " ";
    width: 464px;
    height: 900px;
    top: 217px;
    left: calc(50% - 38px);
    transform: translateX(0) translateY(0) rotate(45deg);
    background: #fff;
    transform-origin: left top;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fafafa;
    background: #fafafa;
    z-index: 1;
}*/
#header::after {
  position: absolute;
  content: " ";
  top: 217px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  background: #41e0d8;
  width: 1600px;
  height: 1600px;
  left: 50%;
  -webkit-transform: translateX(0) translateY(-40%) rotate(21deg);
          transform: translateX(0) translateY(-40%) rotate(21deg);
  border: 1px solid #41e0d8;
  z-index: 1;
}

.navbar {
  z-index: 2;
  padding-bottom: 300px;
}

.header-content .header-img {
  z-index: 2;
}

.header-content .header-img img {
  max-width: 300px;
}

.header-content .header-info {
  padding: 0 20px 0 20px;
  z-index: 2;
}

.header-content .header-info h2 {
  margin: 0;
  padding-bottom: 85px;
  font-weight: bold;
  font-size: 43px;
  line-height: 65px;
}

.header-content .header-info h2 .w-color {
  font-style: italic;
  font-weight: normal;
  color: #fff;
}

.header-content .header-info p {
  margin: 0;
  padding-bottom: 85px;
  font-size: 15px;
  color: #fff;
  line-height: 33px;
}

#main .box {
  width: 230px;
  height: 404px;
  background: #3f4551;
}

#main .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#main .owl-dots .owl-dot.active {
  background: #fff;
  border-radius: 50%;
}

#main .owl-dots .owl-dot {
  display: inline-block;
}

#main .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #fff;
  display: block;
  border-radius: 50%;
}

#main .owl-dots .owl-dot span:active {
  background: #fff;
}

#main .owl-dots .owl-dot:hover {
  background: #fff;
  border-radius: 50%;
}

#main .owl-dots button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

#main .owl-dots .owl-dot:focus {
  outline: 0;
}

#main #article1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #262a34;
  height: 860px;
  z-index: 3;
  width: 100%;
}

#main #article1 .contLeft {
  color: #fff;
}

#main #article1 .contLeft h2 {
  font-size: 43px;
  margin-bottom: 100px;
}

#main #article1 .contLeft p {
  font-size: 15px;
  margin-bottom: 100px;
}

#main #article2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #41e0d8;
  z-index: -4;
  height: 900px;
  width: 100%;
}

#main #article2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main #article2 .reviews {
  text-align: center;
  padding: 170px 0 90px 0;
}

#main #article2 .reviews h2 {
  font-size: 43px;
  color: #fff;
  margin-bottom: 40px;
}

#main #article2 .reviews p {
  font-size: 15px;
  margin: 0px;
}

#main #article2 .article2-img {
  position: relative;
  z-index: 2;
}

#main #article2 .article2-img img {
  max-width: 300px;
}

#main #article2 .box-review {
  position: relative;
  max-width: 600px;
  max-height: 233px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-left: 40px;
}

#main #article2 .box-review .text-box p {
  margin: 40px 0 0 0;
  text-align: justify;
  padding: 0 20px 0 20px;
}

#main #article2 .box-review .autor {
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
  color: #41e0d8;
  font-weight: bold;
}

#main #article2 .box-review #owl-example:before {
  position: absolute;
  content: ' " ';
  font-size: 50px;
  left: 5%;
  top: -10%;
  color: #41e0d8;
}

#main #article2 .box-review #owl-example:after {
  position: absolute;
  content: ' " ';
  font-size: 50px;
  right: 5%;
  top: 60%;
  color: #41e0d8;
}

#main #article2 .box-review .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -50%;
}

#main #article2 .box-review .owl-dots .owl-dot:first-child {
  margin-right: 20px;
}

#main #article2 .box-review::before {
  position: absolute;
  left: -4%;
  content: " ";
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #fff;
}

#main #article3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #262a34;
  height: 440px;
  z-index: 5;
  width: 100%;
}

@media (max-width: 992px) {
  #header .navbar {
    padding-bottom: 20px;
  }
  #header .header-content {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #header .header-content .header-img img {
    max-width: 250px;
  }
  #header .header-content .header-info {
    text-align: center;
    padding-bottom: 20px;
  }
  #header .header-content .header-info h2,
  #header .header-content .header-info p {
    padding-bottom: 20px;
  }
  #main .contLeft {
    margin-bottom: 20px;
    text-align: center;
  }
  #main .contLeft p,
  #main .contLeft h2 {
    margin-bottom: 50px;
  }
  #main #article2 .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #main #article2 .reviews {
    padding: 20px 0 20px 0;
  }
  #main #article2 .reviews h2 {
    margin-bottom: 20px !important;
  }
  #main #article2 .reviews p {
    margin-bottom: 10px;
  }
  #main #article2 .article2-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main .box-review {
    margin: 0 !important;
  }
  #main .box-review #owl-example:before {
    position: absolute;
    content: ' " ';
    font-size: 50px;
    left: 5%;
    top: -5% !important;
    color: #41e0d8;
  }
  #main .box-review .owl-dots {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    bottom: 105% !important;
  }
  #main .box-review::before {
    position: absolute;
    bottom: -24% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    z-index: 5;
    content: " ";
    width: 0;
    height: 0;
    border-left: 25px solid transparent !important;
    border-right: 25px solid transparent !important;
    border-top: 25px solid #fff !important;
  }
}
/*# sourceMappingURL=style.css.map */